<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/images/SnugglyBubblyPaws.png">
    <title>Snuggly Bubbly Paws</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body class="bg-light">
  <%- include('partials/header') %>

  <!-- Form -->
  <div class="container mt-5">

    <div class="row justify-content-center">

      <div class="col-md-6">

        <div class="card shadow">

          <div class="card-header bg-secondary text-white">
            <h3 class="mb-0">Add New Appointment</h3>
          </div>

          <div class="card-body">

            <form action="/addAppointment" method="POST"></form>

              <div class="mb-3">
                <label for="quantity" class="form-label">
                  User ID
                </label>

                <input type="number" class="form-control" id="userid" name="userid" min="0" step="1"
                  placeholder="Enter userid" required>
              </div>

              <div class="mb-3">
                <label for="quantity" class="form-label">
                  Animal ID
                </label>

                <input type="number" class="form-control" id="animalId" name="animalId" min="0" step="1"
                  placeholder="Enter animalId" required>
              </div>

            <div class="mb-3">
                    <label for="date" class="form-label">
                    Appointment Date
                    </label>
    
                    <input type="date" class="form-control" id="appointmentdate" name="appointmentdate" required>
                </div>

            <div class="d-grid gap-2">

            <div class="mb-3">
                <label for="name" class="form-label">
                  Reason for Appointment
                </label>

                <input type="text" class="form-control" id="reason" name="reason" placeholder="Enter reason for appointment" required>
              </div>
              
              <div class="mb-3">
                <label for="comments" class="form-label">
                  Comments (Type Nil if no comments)
                </label>

                <input type="text" class="form-control" id="comments" name="comments" placeholder="Enter comments" required>
              </div>

                <button type="submit" class="btn btn-success">
                  Add Appointment
                </button>

                <a href="/" class="btn btn-secondary">
                  Cancel
                </a>

              </div>

            </form>

          </div>

        </div>

      </div>

    </div>

  </div>

</body>

</html>